.restaurant-item-container {
  .title-side {
    text-align: left;
    .score {
      color: #fab526;
    }
  }
  .feature-side {
    text-align: left;
    img {
      height: 30px;
      width: auto;
      cursor: pointer;
      float: right;
      transition: 0.15s;
      &:hover {
        margin-top: -2px;
      }
    }
    span {
      display: inline-block;
      padding: 4px 10px;
      border-radius: 2px;
      margin: 6px;
      min-width: 100px;
      text-align: center;
      transition: 0.15s;
      &:hover {
        top: -2px;
        position: relative;
      }
      &.featured {
        color: white;
        font-weight: bold;
      }
      &.high {
        border: 2px solid #bd4b4b;
        &.featured {
          background: #bd4b4b;
        }
      }
      &.middle {
        border: 2px solid #e48c2a;
        &.featured {
          background: #e48c2a;
        }
      }
      &.low {
        border: 2px solid #e4ce1e;
        &.featured {
          background: #e4ce1e;
        }
      }
    }
  }
}
