@import "../../App.scss";

.restaurant-quiz-container {
  padding-bottom: 20px;
  .filter-card {
    .question {
      color: darkred;
      padding: 10px;
    }
    .feature-list {
      .form-check {
        margin-top: 2px;
        min-width: 160px;
      }
      .form-check-input {
        margin-right: 6px;
      }
      max-width: 600px;
      margin: 16px auto 10px;
    }
    button {
      width: 100%;
      max-width: 400px;
      margin: 16px auto 0;
    }
  }
}
